.navBackground {
    background: linear-gradient(276.58deg, #03C988 0%, rgba(4, 176, 128, 0.904683) 63.02%, rgba(4, 170, 127, 0.883512) 96.35%, rgba(4, 170, 126, 0.881235) 99.94%, rgba(4, 136, 116, 0.753648) 99.95%, rgba(5, 135, 116, 0.750288) 99.96%, rgba(4, 148, 120, 0.799034) 99.97%, rgba(7, 46, 88, 0.415426) 99.98%, rgba(7, 32, 84, 0.363541) 99.99%, rgba(7, 25, 82, 0.335869) 100%, rgba(255, 255, 255, 0) 100%);
  color: white;
  font-family: 'Poppins', sans-serif;
}
.loginBtn {
    border: 1px solid white;
    border-radius: 7px !important;
    font-size: 1.5rem;
    transition: all 0.5s ease;
    color: white !important;
}
.signupBtn {
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 7px !important;
    font-size: 1.5rem;
    transition: all 0.5s ease;
    color: white !important;
}
.loginBtn:hover, .signupBtn:hover {
    background-color: #D9D9D9;
}
.btnText {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 400 !important;
}