.container{
    position:fixed;
    /* top:-120%; */
    left:0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background:rgba(0,0,0,.7);
    font-family: 'Poppins', sans-serif;

}

.btnContainer{
    margin:2rem;
    padding: 5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;

}

.asAdminbtn{
    
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: white !important;
        padding: 25px 50px !important;
        border-radius: 8px !important;
    
}

.outlineBtn {
    color: #03C988 !important;
}

.outlineBtn:hover {
    color: white !important;
    border: 2px solid black !important;
}