
.asAdminbtn{
    
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: white !important;
        padding: 25px 50px !important;
        border-radius: 8px !important;
    
}

.outlineBtn {
    color: #03C988 !important;
}

.outlineBtn:hover {
    color: white !important;
    border: 2px solid black !important;
}